body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

.menu a {
    display: block;
    margin: 10px 0;
    padding: 12px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #454545;
}

.back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.back:hover {
    background-color: #454545;
}
